[build-system]
requires = ["setuptools", "wheel", "setuptools_scm"]
build-backend = "setuptools.build_meta"

[project]
name = "render_engine_microblog"
dynamic = ["version"]
description = "Microblog Parser and Collection for Render Engine"
readme = "README.md"

dependencies = [
    "render-engine >= 2024.1.0a1",
]

[project.optional-dependencies]
    dev = ["pytest", "pytest-mock"]


[tool.setuptools]
package-dir = {"" = "src"}

[tool.setuptools_scm]
local_scheme = "no-local-version"

[project.urls]
homepage = "https://github.com/kjaymiller/render_engine_microblog/"
repository = "https://github.com/kjaymiller/render_engine_microblog/"

[tool.pytest.ini_options]
pythonpath = ["src"]