[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "render_engine_microblog"
version = "2023.1.0a5"
description = "Microblog Parser and Collection for Render Engine"
readme = "README.md"

dependencies = [
    "render-engine >= 2023.4.2a1",
]

[project.optional-dependencies]
    dev = ["pytest", "pytest-mock"]


[tool.setuptools]
package-dir = {"" = "src"}

[project.urls]
homepage = "https://github.com/kjaymiller/render_engine_microblog/"
repository = "https://github.com/kjaymiller/render_engine_microblog/"

[tool.pytest.ini_options]
pythonpath = ["src"]
